.container{
    /* border: 1px solid red; */
    height: 500px;
}

#sleeve{
    /* color:blue; */
    text-align: center;
    /* font-size: 95px; */
    font-size: 95px;
        background: -webkit-linear-gradient(#060606,#8a8282);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
#sleeve,h6,p,#btn,pre,button,#input{
    margin-top: 10px;
}
h6{
    font-size: 50px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
}

#btn{
    width: 420px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 33%;
    
    /* border: 1px solid red; */
}
#btn-1,#btn-2{
    font-size: 18px;
}
button{
    width: 200px;
    height: 60px;
    border-radius: 15px;
    border: none;
    margin-top: 40px;
    background-color: rgb(227, 165, 83);
}

pre{
    text-align: center;
    font-size: 15px;
    color: #8a8282;
    margin-top: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#input{
    width: 50%;
    height: 50px;
    border: 1px solid rgb(227, 199, 199);
    border-radius: 25px;
    text-align: center;
    margin-left: 25%;
    display: flex;
    margin-top:35px;
}

.shelfimg {
    width: 75px;
    height: 60px;
    /* padding-top: 0px; */
}


.img{
    width: 25px;
    height: 20px;
    margin: 5px 4px 0px 4px;
}

#btn-1{
    background-color: black;
    color: white;
}

#shelfp{
    font-size: 16px;
    margin-top: 15px;
}