#custom{
    height: 1500px;
    border: 1px solid blue;
} 
h5{
    text-align: center;
    color: blue;
    margin-top: 90px;
}
h2{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}

#green-box{
    margin-top: 50px;
    display: flex;
        flex-direction: column;
        align-items: center;
        height: 800px;
        width: 600px;
        float: right;
        background-color: rgb(10, 230, 10);
        border-radius: 5px;
        /* z-index: -10; */
        display: flex;
        justify-content: right;        
        overflow: hidden;
        overflow-y: scroll;
        position: sticky;
        top: 5%;
        border-radius: 25px;

}

#green-box::-webkit-scrollbar {
    display: none;
}

#green-box div{
    margin-bottom: 170px;
    margin-top: 50px;
}
#art-box{
    background-color: red;
    display: flex;
    width: 40%;
    /* height: 300px; */
}


img{
    width: 100px;
    height: 100px;
   
}

#image{
    width: 350px;
    height: 500px;
    /* border: 1px solid yellow;*/
    position: absolute;
    right: 24%;
    overflow: hidden;
} 


