#theme{
    height: 800px;
    margin-top: 170px;
    /* border: 1px solid green; */
}

#themeimg{
    margin-top: 75px;
    width: 100%;
    height:500px;
}

#themesp{
    
    /* width: 80%; */
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 35px;
}

#themesh6{
    margin-top: 50px;
}

h3{
    text-align: center;
    color: blue;
}